<html>
    <head>
        <title>Django Web blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Web Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

        <div>
            <p>published: 08.04.2020, 12:20</p>
            <h2><a href="COVID19Korea/">COVID 19 data</a></h2>
            <p>COVID-19 has infected more than 10,000 people in South Korea.</p>
			<p>KCDC (Korea Centers for Disease Control & Prevention) announces the information of COVID-19 quickly and transparently.</p>
			<p>We make a structured dataset based on the report materials of KCDC and local governments.</p>
			<p>Also, we analyze and visualize the data using various data mining or visualization techniques.</p>
        </div>
    </body>
</html>